/*references */
/* Hotspots code inspired and adapted from https://codepen.io/jack-taylor89/pen/JeajeL?editors=1100 */
body { margin: 0 !important; padding: 0 !important; width: 100% !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important; }
.img-container { position: relative; overflow: hidden; height: 27vw; background-image:url("../img/scrum-main.png"); background-size: cover;}
input { display: none; }
p { margin: 0; }
.button { color: white; font-weight: bold; font-size: 1em; background-color: #4e73df; display: inline; border-radius: 3%; cursor: pointer; animation: fadein .5s; animation: pulse 1.5s infinite; vertical-align: top;}
.help { color: white; font-weight: bold; font-size: 1em; background-color: #4e73df; display: block; padding: .5% .75%; font-size: x-small; border-radius: 100%; cursor: pointer; animation: fadein .5s; animation: pulse 1.5s infinite; }
.content { background: white; padding: 1rem 1rem 1rem 1rem; vertical-align: top; text-align: center; display: none; margin: 10%; border-radius: 8px; box-shadow: 0 4px 2px -2px rgba(211,47,47,0); }
.cross { font-weight: bold; }

#b-product-backlog,
#b-sprint-backlog,
#b-sprint-planning,
#b-product-increment{
    padding-top: 1%;
    padding-bottom: 4%;
    padding-left: .5%;
    padding-right: .5%;
    position: absolute;
    top: 70%;
    text-align: center;

}

#b-retrospective{
    padding-top: 1%;
    padding-bottom: 7%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    position: absolute;
    top: 55%;
    text-align: center;
}

#retrospective-title{
    position: absolute;
    top: 75%;
    left: 89%;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-right: 10%;
}

#b-product-backlog-desc,
#b-product-backlog { left: 1%;}

#b-product-backlog:hover{
    background-image:url("../img/backlog1.png");
    background-size: cover;
    color: transparent;
}

#b-sprint-planning-desc,
#b-sprint-planning { left: 13%;}

#b-sprint-backlog-desc,
#b-sprint-backlog  { left: 25%;}

#b-sprint-backlog:hover{
    background-image:url("../img/backlog2.png");
    background-size: cover;
    color: transparent;
}

#b-product-increment-desc,
#b-product-increment { left: 74%;}

#b-product-increment:hover{
    background-image:url("../img/backlog3.png");
    background-size: cover;
    color: transparent;
}

#b-retrospective-desc,
#b-retrospective {left: 87%;}
#b-retrospective {font-size: xx-large;}
#b-retrospective:hover {background: gray; }

#b-po,
#b-sm,
#b-tm,
#b-daily-scrum { top: 13%;}

#b-po { left: 5%; }
#b-sm { left: 16%; }
#b-tm { left: 25%; }
#b-daily-scrum { left: 76%;}

#b-sprint { top: 32%; left: 45%;
            padding-top: 6%; padding-bottom: 6%;
            padding-left: 2%; padding-right: 2%;
            border-radius: 100% ;
            font-size: x-large;
}

#b-showcase { top: 55%; left: 93%; }

#b-retrospective-desc { top: 48%; }

#b-product-increment-desc,
#b-product-backlog-desc,
#b-sprint-backlog-desc,
#b-sprint-planning-desc{ top: 65%}

#b-sprint-desc{ top: 38%; left: 47%; font-weight: bold;}

#b-po,
#b-sm,
#b-tm,
#b-daily-scrum,
#b-sprint,
#b-sprint-desc,
#b-showcase,
#b-product-increment-desc,
#b-product-backlog-desc,
#b-sprint-backlog-desc,
#b-sprint-planning-desc,
#b-retrospective-desc { position: absolute; }

#input-product-backlog-desc:checked ~ #content-product-backlog-desc,
#input-sprint-backlog-desc:checked ~ #content-sprint-backlog-desc,
#input-product-increment-desc:checked ~ #content-product-increment-desc,
#input-po:checked ~ #content-po,
#input-sm:checked ~ #content-sm,
#input-tm:checked ~ #content-tm,
#input-retrospective-desc:checked ~ #content-retrospective-desc,
#input-daily-scrum:checked ~ #content-daily-scrum,
#input-showcase:checked ~ #content-showcase,
#input-sprint-desc:checked ~ #content-sprint-desc,
#input-sprint-planning-desc:checked ~ #content-sprint-planning-desc
{ display: block !important; animation: fadein .5s; }

.input-help:checked ~ label .button,
.input-help:checked ~ label .help { display: none !important; animation: fadeout .5s; }

.button:hover,
.help:hover { color: #4e73df; background: white; }

.cta { display: inline-block; background: #4e73df; color: white; padding: 12px 24px; margin-top: 18px; border-radius: 24px; text-decoration: none; transition: all .3s ease; }
.cta:hover { text-decoration: underline !important; box-shadow: 0 0 0 6px rgba(211, 46, 46, 0.4); }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes pulse {
    from { box-shadow: 0 0 0 0px rgba(78, 115, 223); }
    to { box-shadow: 0 0 0 5px rgba(0, 0, 0, 0); }
}
/******* End Hotspots ******************/