
/* Styles from W3 Schools for double underlines and their tooltips*/
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_top */

ul {
    list-style-position: initial;
}

.doubleUnderline {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.w3-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.w3-tooltip .w3-tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: darkred;
    color: antiquewhite;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.w3-tooltip .w3-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent darkred transparent;
}

.w3-tooltip:hover .w3-tooltiptext {
    visibility: visible;
}

#sprint-selector {margin-left: 40px; }

#sprint-selector:focus {outline: none;}

#overview {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.legendLinear text {
    font-size: 11px;
    fill: white;
}

.tooltip {
    position: absolute;
    /*display: none;*/
    background:blue;
    border-radius: 3px;
    box-shadow: -3px 3px 15px #888;
    color: red;
    padding: 6px;
}
/* Tooltip CSS */
.d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family:"avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 1px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}
.legendLinear text {
    font-size: 11px;
    fill: black;
}

.PT_Serif_original{
    font-family: 'PT Serif', serif;

}
.PT_Serif{
    font-family: 'PT Serif', serif;
    font-size: 22px;
}

.PT_Serif_Legend{
    font-family: 'PT Serif', serif;
    font-size: 15px;
}
.PT_Serif_Small{
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

.x-axis, .y-axis, .layerLegend {
    font-size: 7px;
}

/*Line chart */
.axis text {
    font-size: 14pt;
}

.label {
    fill: lightgray;
}


.PT_Serif{
    font-family: 'PT Serif', serif;
}
#view_select {
    margin-top: 10px;
}

a, a:visited, a:active {
    color: #444;
}

footer {
    text-align: center;
}

#play-button {
    position: absolute;
    top: 140px;
    left: 50px;
    background: #f08080;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
}

#play-button:hover {
    background-color: #696969;
}
.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}
.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.axis line,
.axis path {
    fill: none;
    stroke: #555;
    shape-rendering: crispEdges;
}

.tick text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #555;
}

/*.x-axis text {*/
/*    font-weight: 600;*/
/*}*/

path.arc:hover {
    opacity: 0.7;
}

.randomize {
    float: left;
    display: block;
    width: 90px;
    font-size: 14px;
    padding: 0.7em 1em;
    margin: 1em 0.5em;
    border: 0.01em solid rgb(197,197,197);
    background-color: rgb(240,240,240);
    border-radius: 0.1em;
    color: rgb(30,30,30);
    text-align: center;
}

.line {
    fill: none;
    stroke: #fdb462;
    stroke-width: 5px;
}

@font-face {
    font-family: 'Solway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo8sOUcUw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}